@import "colors.css" ;
/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */



@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: transparent;
    color: #e3e3ea;
    /*background-color: @base1;*/
    font-family: JetBrainsMonoNerdFont;
    font-size: 13px;
    padding: 0;
}

.modules-right, /*.modules-center,*/ .modules-left {
	background-color: @base1;
	margin: 0;
}

/*.modules-center {
    padding: 0 15px;
    border-radius: 10px; 
}*/

.modules-left {
    padding-right: 15px;
    border-radius: 0 10px 10px 0;
}
.modules-right {
    padding-left: 15px; 
    border-radius: 10px 0 0 10px;
}

/* Every modules */
#wokspaces,
#mode,
#network,
#custom-keyboard-layout,
#idle_inhibitor,
#cpu,
#memory,
#backlight,
#pulseaudio,
#battery,
#clock,
#tray {
    padding: 1px 0px;
    font-family: JetBrainsMonoNerdFont;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#custom-launcher {
	color: @blue;
    margin-left:15px;
    margin-right:10px;
}

#workspaces {
    font-size:13px;
}

#workspaces button {
    border-radius: 5px;
    color: #eceff4;
    padding: 1px 6px;
    margin-right: 2px;
    margin-left: 2px;
}

#workspaces button.focused, #workspaces button.visible {
    border: 1px solid #62629d;
}
#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#mode {
    background: @highlight;
    border-bottom: 3px transparent;
    color:white;
    margin-left: 5px;
    padding: 7px;
}

#window {
    font-weight: bold;
}

#network {
	color: @blue;
}
#network.disconnected {
    color: orange;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
 }

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}

#backlight {
	color: @pink;
}

#pulseaudio {
	color: @mauve;
}

#pulseaudio.muted {
    color: @highlight;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
	color: @green;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#custom-power {
    margin-left:5px;
    margin-right:15px;
    font-size:15px;
}

#idle_inhibitor {
	color: @lavender;
}
