alias vps-ssh="TERM=xterm-256color ssh"
alias sshm="TERM=xterm-256color sshm"
alias sudo=sudo-rs
alias ls=eza
alias :q=exit
alias cat=bat
alias nft='sudo nft'
alias poweroff='hyprshutdown --post-cmd "systemctl poweroff"'
alias reboot='hyprshutdown --post-cmd "systemctl reboot"'
alias soft-reboot='hyprshutdown --post-cmd "systemctl soft-reboot"'
